.modalScrim {
    --destroyTimeout: 100ms;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: grid;
    justify-content: stretch;

    opacity: 1;
    transition: opacity var(--destroyTimeout) ease-in;

    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: var(--destroyTimeout);

    z-index: var(--z-index-max-below-modal);
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modalDestroying {
    opacity: 0;
}