.button {
    position: relative;

    display: flex;
    align-items: center;
    place-content: center;
    margin: 1%;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    cursor: pointer;

    transition: background-color .3s;
    user-select: none;
}

.button > * {
    position: relative;
    padding: 12px 24px;
}

/* ripple effect */
.button:not(.disabled):active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .1s ease-out, padding-top .1s ease-out;
}

.button:not(.disabled):before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* colors below */
.regular {
    background-color: var(--accent-blue);
}

.regular:hover, .regular:focus, .active.regular {
    background-color: var(--accent-blue-selected);
}

.red {
    background-color: var(--accent-red);
}

.red:hover, .red:focus, .active.red {
    background-color: var(--accent-red-selected);
}

.transparent {
    box-shadow: none;
    margin: 0;
}

.transparent:hover, .transparent:focus, .active.transparent {
    background-color: rgba(255,255,255,0.1);
}

.inline {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: unset;
}

.disabled, .disabled:hover, .disabled:focus {
    background-color: var(--medium-gray);
    cursor: unset;
}