.card {
    display: flex;
    flex-direction: column;
    background: white;

    border-radius: 0px;
    border: 5px solid var(--red-accent);
}

.cardHeader {
    display: flex;
    align-items: center;

    background: white;
    padding: 20px 30px 20px;
}

.cardHeaderTitle {
    font-size: 30px;
    flex-grow: 1;
    display: flex;
    align-items: baseline;
}

.cardTitleContent {
    flex-grow: 1;
}

.closeButton {
    padding-top: 3px;
    cursor: pointer;
    user-select: none;
}

.collapseButton {
    cursor: pointer;
    user-select: none;
    margin: 5px 5px;

    width: 12px;
    height: 12px;
    /*background: url("~assets/icons/list_markers.png") no-repeat;*/
}

.cardContent {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    height: auto;
    flex-direction: column;
}

.cardCollapsed {
    overflow: hidden;
    max-height: 0;
}

.cardBottom {
    border-top: 1px solid #dadfea;
    padding: 10px;
}
