.holder {
    position: relative;
}

.menu {
    position: absolute;
    box-sizing: border-box;
    /* sorry (not sorry) */
    top: 45px;
    width: 116px;
    background: white;
    color: white;
    box-shadow: var(--component-shadow);
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    z-index: var(--z-index-max-below-modal);
    user-select: none;
}

.menu:focus {
    outline: none;
}

.sep {
    height: 1px;
    background: var(--medium-gray);
}

.item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color linear 0.1s, color linear 0.1s;
}

.item:hover {
    background: var(--light-gray);
}