.label {
    display: inline-block;
    color: black;
}

.white {
    color: white;
}

.black {
    color: black;
}

.accent {
    color: var(--accent-blue);
}

.accentSelected {
    color: var(--accent-blue-selected);
}

.regular {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}

.hint {
    font-size: var(--font-size-hint);
    font-style: var(--font-style-hint);
    font-weight: var(--font-weight-hint);
}

.h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
}

.h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

.h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
}
