/* getting rid of browser styles */
input {
    border: none;
}

.input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

.textarea {
    box-sizing: border-box;
    width: 100%;

    resize: vertical;
}

.input,
.textarea {
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid var(--accent-blue);

    padding: 6px 10px;
    font-size: var(--font-size-regular);
    line-height: 19px;
    vertical-align: middle;
    margin: 0;
    background-image: none;
    border-radius: 0;
    transition: all 0.07s ease-in-out 0.15s;
    /*box-shadow: inset 0 1px 1px #e1e1e1 !important;*/
}

.input:disabled,
.textarea:disabled {
    font-style: var(--font-style-hint);
    background-color: var(--light-gray);
}

.input:focus,
.textarea:focus {
    border-bottom: 2px solid var(--accent-blue);
    border-color: var(--accent-blue-selected);
    outline: 0;
}
