.Navbar {
    display: flex;
    flex-flow: row nowrap;
    height: var(--navbar-height);
    background-color: var(--darkest-gray);
    color: white;
    grid-column: span 2;

    z-index: var(--z-index-top);
    box-shadow: var(--component-shadow);
    align-items: center;
}

.Navbar > * {
    margin-right: 1%;
}

.logo {
    transform: translate(0, 4px);

    margin-left: 3%;
    background-size: cover;
    width: 350px;
    height: 54px;
    background-image: url("~assets/logo2.svg");

}