.Sidebar {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 300px;
    box-sizing: border-box;

    background-color: var(--darkest-gray);
    box-shadow: 3px 0 10px var(--medium-gray);
    transition: width linear 175ms;
}

.collapsed {
    width: 40px;
}

.collapsed > .links {
    transform: translateX(-260px);
    opacity: 0;
}

.collapsedButton {
    transition: transform linear 1s;
    transform: rotate(180deg);
}

.uncollapsedButton {
    transition: transform linear 1s;
    transform: rotate(0deg);
}

.links {
    display: flex;
    flex-flow: column;
    margin-top: 5%;
    width: 100%;
    transition: transform linear 175ms, opacity linear 175ms;
}

.controls {
    justify-self: flex-end;
    width: 100%;
    height: auto;

    display: flex;
}