.demo {
    display: flex;
    flex-flow: column;
}
.demo > * {
    margin-top: 10px;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    place-content: center;
}

.darkest {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px var(--dark-gray);
    background-color: var(--darkest-gray);
}

.dark {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px var(--dark-gray);
    background-color: var(--dark-gray);
}

.medium {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px var(--dark-gray);
    background-color: var(--medium-gray);
}

.light {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px var(--dark-gray);
    background-color: var(--light-gray);
}

.accent {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px var(--dark-gray);
    background-color: var(--accent-blue);
}

.accentDark {
    width: 200px;
    height: 100px;
    box-shadow: 3px 3px 10px var(--dark-gray);
    background-color: var(--accent-blue-selected);
}