.Table {
    border: none;
    display: grid;
    grid-row-gap: 3px;
}

.TableHeaderCell, .TableValueCell {
    font-size: var(--font-size-regular);
    padding: 10px 15px 10px 15px;
}

.TableValueCell {
    background: white;
    color: #2d3e50;
    display: -webkit-box;
    -webkit-box-align: center;
}

.TableHeaderCell {
    background: var(--darkest-gray);
    color: white;
    font-weight: 700;
}