.appear {

}
.appearActive {

}
.appearDone {

}
.enter {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 175ms, transform 175ms;
}
.enterActive {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 175ms, transform 175ms;
}
.enterDone {

}
.exit {
    opacity: 1;
    transform: translateX(0%);
}
.exitActive {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
}
.exitDone {

}