#root {
    height: 100%;
    --sidebar-width: 340px;
    --navbar-height: 65px;

    --z-index-top: 70000;
    --z-index-max: 1000000;
    --z-index-modal-start: 900000;
    --z-index-max-below-modal: 800000;

    /* shadows */
    --component-shadow: 3px 3px 10px rgba(0,0,0,0.5);

    /* font sizes */
    --font-size-regular: 15px;
    --font-weight-regular: 400;

    --font-size-hint: 15px;
    --font-weight-hint: 300;
    --font-style-hint: italic;

    --font-size-h1: 18px;
    --font-weight-h1: 700;

    --font-size-h2: 24px;
    --font-weight-h2: 700;

    --font-size-h3: 40px;
    --font-weight-h3: 700;



    /* color palette */
    --darkest-gray: #333333;
    --dark-gray: #888888;
    --medium-gray: #BBBBBB;
    --light-gray: #EEEEEE;

    --accent-blue: #00C0FA;
    --accent-blue-selected: #76ccf6;

    --accent-red: #f44336;
    --accent-red-selected: #d32f2f;

    font-family: Roboto, serif;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--light-gray);
}

::-webkit-scrollbar-track {
    border: 10px;
}

::-webkit-scrollbar-thumb {
    border: 10px;
    background: var(--medium-gray);
}