.App {
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    width: 100%;
    height: 100%;
}

.content {
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}

.content > * {
    height: 100%;
}